<html>
  <div class="snip1236">
    <h1>TCK Electrical and Mechanical Repairs Ltd</h1>
    <h5>Unit 7-8, Cwmdraw Industrial Estate, Newtown, Ebbw Vale, Gwent, NP23 5AE</h5>
    <h6>01495 308904</h6>
  </div>
  <div>
    <body>
      <p>Welcome to the home page for TCK Electrical And Mechanical Repairs Ltd</p>
      <p>We're a company specialising in electric motor repairs.</p>
      <img style="margin: 10px" class="logo" src="assets/images/electric-motor.jpg" alt="Smiley face">
    </body>
  </div>
</html>